# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Environment variables
.env

# IDE/project files
.vscode/
.idea/

# Output folders
summaries/